<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102677960753-j6c50q0gf4cu8odq4m3nlq636k2jglfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102677960753-j6c50q0gf4cu8odq4m3nlq636k2jglfb</string>
	<key>API_KEY</key>
	<string>AIzaSyBCLMDj4BBw6YBGTLUSA-7SbBvgzLSAtMM</string>
	<key>GCM_SENDER_ID</key>
	<string>102677960753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techverse.techVerse</string>
	<key>PROJECT_ID</key>
	<string>techverse-79f18</string>
	<key>STORAGE_BUCKET</key>
	<string>techverse-79f18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102677960753:ios:93337bcb5c2fd197079d10</string>
</dict>
</plist>